<ion-header>
    <ion-navbar>
      <ion-title>Detalles de adopción</ion-title>
      <ion-buttons end>
        <button ion-button icon-only (click)="cancel()">
          <ion-icon item-right name="ios-close-outline"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
</ion-header>
  <ion-content padding class="cards-bg">
      <ion-card>
          <img [src]="adopcion.img"/>
          <ion-card-content>
            <ion-card-title>{{adopcion.nombre}}</ion-card-title>
            <p>
              {{adopcion.descripcion}}
            </p>
            <p>
              Raza: {{adopcion.raza}}
            </p>
            <p *ngIf="adopcion.sexo==1">
              Sexo: Hembra
            </p>
            <p *ngIf="adopcion.sexo==2">
              Sexo: Macho
            </p>
            <p>
              Contacto: {{adopcion.contacto}}
            </p>
            <p>
              Telefono: {{adopcion.telefono}}
            </p>
          </ion-card-content>
          <ion-row no-padding>
            <ion-col>
              <button ion-button clear small icon-start (click)="llamada(adopcion.telefono)">
                <ion-icon name='call'></ion-icon>
                Llamar
              </button>
            </ion-col>
            <ion-col text-center>
              <button ion-button clear small icon-start >
                <ion-icon name='mail'></ion-icon>
                Correo
              </button>
            </ion-col>
            <ion-col text-right>
              <button ion-button clear small icon-start (click)="enviarEmail(adopcion.correo,adopcion.nombre)">
                <ion-icon name='share-alt'></ion-icon>
                Compartir
              </button>
            </ion-col>
          </ion-row>
        </ion-card>
  </ion-content>
  